.jumbotron{
    position: relative;
    margin: 0px 127px 10px 127px;
    padding: 2rem 2rem !important;
}

.rating{
    position: relative;
    top: -7px;
    font-size: 25px;
    color: rgba(243, 178, 0, 0.952);
}

.poster{
    position: relative;
    max-height: 277px;
}

img{
    cursor: pointer;
}

@media(max-width: 620px){
    .jumbotron{
        position: relative;
        margin: 0px 20px 10px 20px;
        padding: 2rem 2rem !important;
    }
    .poster{
        position: relative;
        left: 38px !important;
        max-height: 277px;
        max-width: 185px;
        margin-bottom: 20px;
        top: 11%;
    }
}