body {
  background-color: #282c34 !important;
  overflow-x: hidden !important;
}

.titleCat{
  position: relative;
  top: 100px;
  color: rgb(179, 167, 167);
  font-weight: 600;
  margin-left: 50px;
}

.Row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px !important;
  margin-left: -15px;
}

